<h1>Horizontal Table</h1>

<table class="data fullwidth collapsible">
    <tbody>
        <tr>
            <th class="light">Recipients</th>
            <td>305</td>
        </tr>
        <tr>
            <th class="light">Opened</th>
            <td>128</td>
        </tr>
        <tr>
            <th class="light">Clicked</th>
            <td>80</td>
        </tr>
        <tr>
            <th class="light">
                Click Through Rate
                <span class="info">Click Through Rate is calculated by dividing the number of clicks by the number of opens.</span>
            </th>
            <td>34%</td>
        </tr>
    </tbody>
</table>

<br/><br/>

<h1>Vertical Table</h1>

<table class="data fullwidth collapsible">
    <thead>
        <tr>
            <th>Newsletter</th>
            <th>Recipients</th>
            <th>Opens</th>
            <th>Clicks</th>
            <th>
                CTR
                <span class="info">Click Through Rate is calculated by dividing the number of clicks by the number of opens.</span>
            </th>
            <th data-icon="world"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                <a href="#" class="go">Spring is Here</a>
            </th>
            <td>1618</td>
            <td>1000</td>
            <td>320</td>
            <td>32%</td>
            <td>
                <a href="#" data-icon="world"></a>
            </td>
        </tr>
        <tr>
            <th>
                <a href="#" class="go">Summer is Here</a>
            </th>
            <td>1618</td>
            <td>1000</td>
            <td>320</td>
            <td>32%</td>
            <td>
                <a href="#" data-icon="world"></a>
            </td>
        </tr>
        <tr>
            <th>
                <a href="#" class="go">Autumn is Here</a>
            </th>
            <td>1618</td>
            <td>1000</td>
            <td>320</td>
            <td>32%</td>
            <td>
                <a href="#" data-icon="world"></a>
            </td>
        </tr>
        <tr>
            <th>
                <a href="#" class="go">Winter is Here</a>
            </th>
            <td>1618</td>
            <td>1000</td>
            <td>320</td>
            <td>32%</td>
            <td>
                <a href="#" data-icon="world"></a>
            </td>
        </tr>
    </tbody>
</table>