<h1>Header 1</h1>
<h2>Header 2</h2>
<h3>Header 3</h3>
<h4>Header 4</h4>
<h5>Header 5</h5>
<h6>Header 6</h6>

<hr/>

<h1>Body Copy</h1>

<p>Regular text can be <strong>bold</strong>, <em>italic</em>, <u>underlined</u>, <code>code</code>, <span class="light">light</span> and <a href="#" class="go">linked</a>.</p>

<p>
    More info modals are useful to show more text when required
    <span class="info">This text can go into more detail.</span>
</p>

<hr/>

<h1>Buttons</h1>

<p>
    <a href="#" class="btn">Button</a>
    <a href="#" class="btn submit">Submit</a>
    <a href="#" class="btn submit add icon">New</a>
</p>

<p>
    <a href="#" class="btn small">Button</a>
    <a href="#" class="btn small submit">Submit</a>
    <a href="#" class="btn small submit add icon">New</a>
</p>